#team {
  padding-top: 60px;
  padding-bottom: 80px;
}
#team h2 {
  padding-bottom: 30px;
  text-align: center;
}
#team h3 {
  padding-bottom: 10px;
}
#team .team-wrapper {
  border: 2px solid #303030;
  padding: 20px;
}
#team h4 {
  color: #d54ab6;
}
#team img {
  opacity: 0.8;
}
#team hr {
  border-color: #303030;
  margin-top: 80px;
  margin-bottom: 80px;
}
#team strong {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 10px;
}
#team .progress {
  border-radius: 0px;
  height: 4px;
}
