
<head>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">

  <link rel="stylesheet" href="assets/css/appstyle.css">
</head>



<div id="team">
  <div class="container">

    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-12">
        <h2>Meet the crew!</h2>
        <p>La team Phenyouman, on vous attend le samedi 22 juillet 2017	à Saint-Louis, pour une serie d'autographes ... just kidding you will never see us muahaha</p>
      </div>
    </div>

    <div class="row mt30">
      <div class="col-md-4 col-sm-4 col-xs-9">
        <div class="team-wrapper">
          <img src="assets/images/team1.png" class="img-responsive" alt="team img">
          <h3>AYPOOL</h3>
          <h4>DEVELOPER</h4>
          <p>Paradoxe de l'œuf et de l'Aypool.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-9">
        <div class="team-wrapper">
          <img src="assets/images/team2.png" class="img-responsive" alt="team img">
          <h3>CAPTAIN PHEN</h3>
          <h4>DEVELOPER</h4>
          <p>El PHENOMENO.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-9">
        <div class="team-wrapper">
          <img src="assets/images/team3.png" class="img-responsive" alt="team img">
          <h3>VICOMAN</h3>
          <h4>DEVELOPER</h4>
          <p>Voter Vico le roi de l'apéro.</p>
        </div>
      </div>
    </div>
  </div>
</div>
