<head>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">
</head>


<!-- divider section -->
<div class="divider">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="divider-wrapper divider-one">
          <h2>Bienvenue sur marvel Angular PRoject</h2>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <div class="divider-wrapper divider-one">
          <h2>Marvel Api</h2>
          <p>Sur ce site vous pouvez consulter les information sur tout vos heros marvel preferés via l'api developpeur marvel</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="divider-wrapper divider-two">
          <h2>Angular</h2>
          <p>Site fait en Angular, une single page application</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="divider-wrapper divider-three">
          <h2>Responsive</h2>
          <p>Un site totalement responsive, pour une expérience optimale meme sur les plus petits écrans</p>
        </div>
      </div>
    </div>
  </div>
</div>
