#portfolio {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
}
#portfolio h2 {
  padding-bottom: 20px;
}
#portfolio .col-md-4,
#portfolio .col-md-3 {
  padding: 0;
  margin: 0;
}
#portfolio img {
  width: 100%;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}
#portfolio img:hover {
  opacity: 1;
}
#portfolio .btn {
  margin-top: 30px;
}
